*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    
}
.content{
    display: flex;

}
.right-content{
    display: flex;
    padding-left: 350px; 
}

.left-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-left: 100px;
}

.big-text{
    font-size: 67px;
    font-weight: 500;
    
}
span{
    font-style: italic;
}
.medium-text{
    font-size: 30px;
}

p{
    font-size: 20px;
    
}
.scale{
    margin-top: 20px;
   
}
input{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}