* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul {
    list-style: none;
}

navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

li {
    display: inline;
}

span {
    margin-left: 5px;
}

/* image and search */
.img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.search input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.container{
    display: flex;

}

.card-1  {
    margin-left: 30px;
}
.card-2{
     margin-left: 30px;
     display: flex;
     flex-direction: column;
     gap: 10px;
}