*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --nav-color-background:#050d18;
    --nav-content:white;
}

img{
    margin: 15px 40px 30px 40px;
    display: block;
    width: 120px;
    border:8px solid color-mix(in srgb, var(--default-color), transparent 85%);
    border-radius: 50% ;
}
a{
    color: var(--nav-content);
}
.main-container{
    display: flex;
    height: 100vh;
    overflow: hidden;
}
nav{
    margin: 50px;
    height: 100vh;
    overflow-y: auto;
}
.ctrl{
    background-color: var(--nav-color-background);
    flex: 0 0 250px;
}
.name{
    margin-left:60px;
    font-size: 20px;
    font-weight: bolder;
    color: var(--nav-content);
}

.header-social{
    display: flex;
    gap: 50px;
    margin-top: 40px;
    font-size: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 60px;
}

.profile{
  border-radius: 0%;
  height: 100%;
  width: 100%;
  margin: 0;
}

.theme {
    flex: 1;
    overflow-y: auto;
}
