*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --nav-color-background:#050d18;
    --nav-content:white;
}

img{
    margin: 15px 40px 30px 40px;
    display: block;
    width: 120px;
    border:8px solid color-mix(in srgb, var(--default-color), transparent 85%);
    border-radius: 50% ;
}
a{
    color: var(--nav-content);
}
.main-container{
    display: flex;
    height: 100vh;
  
}
nav{
    margin: 40px;
    height: 100vh;
    overflow-y: auto;
}
.ctrl{
    background-color: var(--nav-color-background);
    flex: 0 0 250px;
    position: fixed;
    height: 100vh;     
}
.name{
    margin-left:60px;
    font-size: 20px;
    font-weight: bolder;
    color: var(--nav-content);
}

.header-social{
    display: flex;
    gap: 50px;
    margin-top: 40px;
    font-size: 20px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em; 
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    z-index: 1;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 60px;
}

.profile{
    border-radius: 0%;
    height: 100%;
    width: 100%;
    margin: 0;
}

.theme {
    flex: 1;
    overflow-y: auto;
    margin-left: 250px;
}

/* second page*/

.second-page{
    display: flex;
    margin: 5% 20%;
}

h3{
    font-size: 30px;
}

.second-page p{
    font-size: 18px;
    margin-top: 20px;
}

.second-page img{
    border-radius: 0%;
     height: auto;
     width: 40%;
     margin: 40px 0px 0px 0px;
}

.contactpage{
    display: flex;
    flex-direction: row;
}

.contact-page-content{
    margin: 40px 30px ;
}

.contact-page-content h3{
    font-size: 25px;
}
p{
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    margin: 30px 400px 0px 0px;
    font-size: 20px;
    width: 100%;
    justify-content: stretch;
    
}

.left{
    margin-right: 50px;
    
}

.right{
    margin-left: 20%;
}