*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a{
    color: black;
}

.hero{
    background-image: url('./img/back.png');
    background-position: 0 0;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 20px 40px;
    position: relative;
    overflow: hidden;
   
}
.navic{
    display: flex;
    justify-content: space-between;   
    margin: 1%;
    background-color: white;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
    font: 17px ;
    font-family: "satoshi varaiable",Arial, sans-serif;
}

.navbar ul{
    display: flex;
    gap: 50px;
}

.cart {
    display: flex;
    gap: 50px;
    margin-right: 5%;
}
.layoutgrid{
    display: flex;
    
}
.layoutfemale img{
    width:  100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1%;
    border-radius: 3%;
}

.display3{

    font-size:70px;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 0px;
    margin-left: 60px;
    margin-top: 50px;
    line-height: 0.4em;
    letter-spacing: -.02em;
}

.display4{
    margin-left: 60px;
    line-height: 0.4em;
    margin-top: 30px;
    font-weight: 100;
    font-size: 25px;
}