*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a{
    color: black;
}

.hero{
    background-image: url('./img/back.png');
    background-position: 0 0;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 20px 40px;
    position: relative;
    overflow: hidden;
    margin: 2%;
   
}
.navic{
    display: flex;
    justify-content: space-between;   
    margin: 1%;
    background-color: white;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
    font: 17px ;
    font-family: "satoshi varaiable",Arial, sans-serif;
}

.navbar{
    margin-top: 10px;
}

.navbar ul{
    display: flex;
    gap: 50px;
}

.cart {
    display: flex;
    gap: 50px;
    margin-top: 10px;
    margin-right: 5%;
}

.cart span{
    background-color: black;
    padding: 15px;
    color: white;
    border-radius: 10px;
}

.layoutgrid{
    display: flex;
    
}
.layoutfemale img{
    width:  100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1%;
    border-radius: 3%;
}

.display3{

    font-size:50px;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 0px;
    margin-left: 60px;
    margin-top: 50px;
    line-height: 0.8em;
    letter-spacing: -.02em;
}

.display4{
    margin-left: 60px;
    line-height: 1.8em;
    margin-top: 30px;
    font-weight: 100;
    font-size: 25px;
}

.info .cart{
    margin-top: 20%;
    margin-left: 15%;
}

.sponser{
    padding: 16px 0px;
}
.sponser img{
    padding: 20px;
    margin: 20px 0px;
}
.sponser2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ourfeature{
    display:flex;
    flex-direction: column;
    margin: 3%;
    text-align: center;
}
.ourfeatureimges{
    display: flex;  
    justify-content: space-evenly; 
    align-items: center;
}


.solutioncard1{
    background-position: 40%, 0 ,0;
    background-size: 1000px;
    height: 330px;
    display: block;
    background-repeat: no-repeat, repeat;
    padding:60px 100px ;
    background-image: url("./img/back.png");
    background-size: cover;
    border-radius: 15px;
}

.ourfeature h6{
    margin: 0px 0px 20px;
}

.ourfeature h1{
    font-size: 62px;
    padding-bottom: 70px;
}
.cards {
    display: flex;
    /*flex-direction: column;
    align-items: center;
    gap: 20px;*/
  }
  
  .container {
    display: flex;
    gap: 10%;
    justify-content: space-between;
    
  }
  
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
  }
  
  .card1 {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    width: 480px; 
  
  }
  
  .card-img1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
  
  .card-img1 img {
    width: 50px; 
    height: 50px;
    object-fit: contain;
  }
  
  
  .card-content {
    padding: 15px;
  }
  
  .card-content h6 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card-content p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
  }


  /* page 3*/
  
  
  
.pack {
    display: flex;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;

}

.pack span{
    margin-left: 10%;
}

#left-section {
    width: 40%;
    padding: 20px;
    margin-top: 1%;
}

#package-box {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin-left: 30%;
}

#package-box img {
    width: 30px;
}

h3 {
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

h2 {
   margin-left: 40%;
}

button {
    width: 100%;
    background: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.small-text {
    font-size: 12px;
    color: #666;
}

#right-section {
    display: flex;
    border-left: 6px solid#e27361;
    margin-top: 2%;
}

#metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box {
    width: 70%;
    background: #eee;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
}

.box span {
    display: block;
    font-size: 14px;
    color: gray;
    margin-top: 5px;
}

.highlight {
    background: linear-gradient(to right, #dff2ff, #ffefe1);
}

/*page 5*/
.mainhead{
    margin-top: 5%;
}
.heading{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: satoshi,arial,sans-serif;
    font-weight: 500;
    line-height: 1.11;
    flex-direction: row;
    
}
.lorem{
    margin-top: 3%;
}
 .heading1{
    display: flex;
    justify-content: center;
    font-size: 36px;
    line-height: 1.11;
    flex-direction: row;
    font-weight: lighter;
}