*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
}
.global-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    
}

ul{
    display: flex;
    justify-content: flex-end;
    gap: 70px;

}

.navbar ul{
    font-size: 30px;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.navbar li:hover{
    background-color: aqua;
    padding: 5px;
    border-radius: 30px;
    
}
